/* ----------- reset ----------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* ----------- layout ----------- */
body {
  background: #ffe1ad;
  font-family: arial, sans-serif;
  color: #2d2c2e; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fbfbfb;
  box-shadow: 5px 0px 5px 0px rgba(70, 70, 70, 0.1); }

body > header {
  background: #fff;
  position: relative; }
  body > header .inner {
    position: relative;
    height: 155px;
    max-width: 800px;
    margin: 0 auto; }
  body > header .back {
    position: absolute;
    left: -175px;
    top: 40px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #a7a9ac;
    padding: 9px; }
    body > header .back:hover {
      background: #f9f9f9; }
  body > header h1 {
    display: inline-block;
    font-size: 28px;
    color: #2d2c2e;
    margin-right: 22px; }
  body > header .add-question {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #0266b3;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    padding-left: 5px; }
    body > header .add-question:hover {
      background: #00529f; }
  body > header .sort {
    font-family: "Noto Serif", serif;
    font-size: 13px; }
    body > header .sort a {
      font-family: arial, sans-serif;
      font-size: 14px;
      color: #0266b3;
      margin: 0 6px; }
      body > header .sort a.active {
        color: #a7a9ac;
        text-decoration: underline; }
      body > header .sort a:last-child {
        margin-right: 0; }
  body > header input[type="search"] {
    width: 600px;
    background: #fbfbfb;
    border: 1px solid #eeeeee;
    padding: 8px 15px; }
  body > header button {
    width: 175px;
    margin-left: 20px;
    background: #fff;
    border: 1px solid #a7a9ac;
    padding: 8px 15px;
    color: #a7a9ac;
    font-weight: bold;
    cursor: pointer; }
    body > header button:hover {
      background: #f8f8f8; }

.header-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 48px 0 22px; }
  .header-top .header-top-left {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-basis: 600px; }

/* ----------- radio buttons ----------- */
.radios {
  display: flex; }
  .radios > div:first-child {
    margin-right: 28px; }

input[type="radio"] {
  position: absolute;
  opacity: 0; }
  input[type="radio"] + label {
    cursor: pointer;
    position: relative;
    font-size: 15px; }
    input[type="radio"] + label:before {
      content: '';
      display: inline-block;
      background: #fbfbfb;
      border: 1px solid #a7a9ac;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 10px; }
  input[type="radio"]:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    background: #2d2c2e;
    width: 7px;
    height: 7px;
    border-radius: 50%; }

/* ----------- question ----------- */
.question {
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 5px 0px 5px 0px rgba(70, 70, 70, 0.1); }
  .question header {
    padding: 20px;
    background: #dff3fd;
    height: 90px;
    max-width: 600px; }
    .question header img {
      float: left;
      margin-right: 40px;
      border-radius: 50%; }
    .question header h1 {
      font-family: "Noto Serif", serif;
      font-size: 16px;
      margin-top: 6px; }
    .question header p {
      font-size: 10px;
      color: #a7a9ac; }
      .question header p a {
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        margin-right: 8px; }
    .question header a {
      color: #0266b3; }
      .question header a:hover {
        color: #004895; }

/* ----------- begin extends ----------- */
.details .more-act, .details .stats p {
  font-family: "Noto Serif", serif;
  font-size: 12px; }

.details .more-act span, .details .stats span {
  font-family: arial, sans-serif;
  font-size: 17px;
  font-weight: bold; }

.details .asked, .details .found, .details .reacted {
  color: #a7a9ac;
  font-size: 10px;
  text-transform: uppercase; }

.details .asked:after, .details .found:after, .details .more-act:after, .details .reacted:after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  left: 30px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #a7a9ac; }

/* ----------- details ----------- */
.details {
  display: flex;
  align-items: flex-end;
  padding-bottom: 37px; }
  .details img {
    border-radius: 50%; }
  .details hr {
    height: 1px;
    margin-bottom: 9px;
    background: #a7a9ac;
    border: none; }
  .details > div:first-child {
    display: flex;
    align-items: flex-end;
    flex-basis: 600px; }
  .details div div, .details .stats {
    position: relative;
    height: 154px;
    width: 90px;
    padding: 10px;
    margin-right: 12px;
    text-align: center; }
  .details div a:last-child div {
    margin-right: 0; }
  .details .asked, .details .found {
    height: 187px;
    padding-top: 157px;
    background: #dff3fd; }
  .details .more-act span {
    display: block;
    margin: 30px 0 52px; }
  .details .reacted {
    background: #eeeeee; }
    .details .reacted:hover {
      background: #f3f3f3; }
    .details .reacted img {
      margin: 12px 0 50px; }
  .details .answered:after, .details .answered hr {
    background: #2d2c2e; }
  .details .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 188px;
    margin: 0;
    padding: 9px 0 3px 54px;
    text-align: left; }
    .details .stats span {
      margin-right: 5px; }

/*# sourceMappingURL=style.css.map */
