// colors

$white: #fff;

$bg-beige: #ffe1ad;

$bg-grey: #fbfbfb;
$boxes-grey: #eeeeee;

$text-light-grey: #a7a9ac;
$text-dark-grey: #2d2c2e;

$bg-blue: #dff3fd;
$elements-blue: #0266b3;

$text-red: #e1173f;

$badge-on: #fa8b81;
$badge-off: #cfd1d3;


// fonts

$sans-serif: arial, sans-serif;
$serif: 'Noto Serif', serif;